<div class="conteiner">
        <mat-card class="example-card relative">
            <div class="box-habilities">
                <img src="../../../assets/images/ux-design.png" class="icons-aboutme" alt="frontend">
                <h2>Frontend</h2>
                <p>Eu valorizo uma estrutura simples de conteúdo e camada de design limpa.</p>
                <h4>Linguagens e ferramentas</h4>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>TypeScript</li>
                        <li>Angular</li>
                        <li>UI/UX</li>
                        <li>Bootstrap</li>
                    </ul>
            </div>
        </mat-card>
        <mat-card class="example-card relative">
            <div class="box-habilities">
                <img src="../../../assets/images/backend.png"  class="icons-aboutme" alt="backend">
                <h2>Backend</h2>
                <p>Eu gosto de desenvolver coisas do zero, banco de dados, API e arquitetura.</p>
                <h4>Linguagens e ferramentas</h4>
                    <ul>
                        <li>JAVA</li>
                        <li>SQL</li>
                        <li>Spring</li>
                        <li>Springboot</li>
                        <li>MySQL</li>
                        <li>Postman</li>
                    </ul>
            </div>
        </mat-card>
        <mat-card class="example-card relative">
            <div class="box-habilities">
                <img src="../../../assets/images/project-management.png" class="icons-aboutme" alt="project management">
                <h2>Outros</h2>
                <p>Não somente hard skill, busco também sempre aprimorar minha soft skill.</p>
                <h4>Outros tópicos</h4>
                    <ul>
                        <li>Inglês avançado</li>
                        <li>Liderança</li>
                        <li>Planejamento</li>
                        <li>Gerenciamento</li>
                        <li>Comunicação</li>
                    </ul>
            </div>
        </mat-card>
</div>