<footer>
    <div class="start-box">
        <h1>Inicie um projeto</h1>
        <div>
            <p>Interessado em começar algo novo comigo?</p>
            <p>Entre em contato para iniciar uma conversa </p>
        </div>
        <a href="https://api.whatsapp.com/send?phone=5511953458714&text=Vim%20atrav%C3%A9s%20do%20seu%20portf%C3%B3lio%2C%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es" target="_blank"><button class="btn-secondary">Entre em contato</button></a>
    </div>
    <div id="footer-informations">
        <div>
            <img src="./../../../assets/images/semfundomenor.png" width="250px" alt="Logotipo cabral code">
        </div>
        <div>
            <p>E-mail: caio_cabral1@hotmail.com</p>
            <p>Feito por: Caio Cabral</p>
        </div>
        <div class="is-center">
            <a href="https://www.linkedin.com/in/cabralcaio/" target="_blank"><img src="./../../../assets/images/linkedin.png" class="icon-footer" alt="linkedin"></a>
            <a href="https://github.com/cabralcaio" target="_blank"><img src="./../../../assets/images/github.png" class="icon-footer" alt="github"></a>
        </div>
    </div>
</footer>