<app-header></app-header>
<body>
    <section class="first-section" id="start">
        <div class="introdution">
            <h1>Desenvolvedor Web Full Stack</h1>
            <p>Eu projeto e codifico aplicações de alto nível e valor, buscando sempre transformar sonhos em software!</p>
            <div>
                <a class="button-1" href="https://www.linkedin.com/in/cabralcaio/" target="_blank" mat-raised-button color="primary">LinkedIn</a>
                <a class="button-2" href="https://github.com/cabralcaio" target="_blank" mat-stroked-button color="primary">GitHub</a>
            </div>
        </div>
        <div clas="gifs">
            <img class="gif1" src="./../../../assets/images/psico2.gif" alt="Gif programando">
            <img class="gif2" src="./../../../assets/images/computer-reduced.gif" alt="">
        </div>
    </section>
    <div class="align-center" id="img-me">
        <img src="./../../../assets/images/mesdtn.png" alt="Caio cumprimentando" width="290px">
    </div>
    <section class="about-me" id="about-me">
        <div class="about-me-inside">
            <h1>Olá, sou o Caio. Prazer em conhecê-lo!</h1>
            <p>
                Eu comecei a trabalhar com tecnologia em 2015, quando tinha 15 anos. Naquela época, eu programava máquinas e robôs com linguagens de baixo nível. Hoje em dia, o código faz parte da minha vida e eu adoro criar novos projetos para ampliar meus conhecimentos e aprender novas linguagens e frameworks. Eu me especializo em desenvolvimento com Javascript, TypeScript, Java, Spring, Angular, Kotlin e outras tecnologias que uso para criar aplicações web/mobile de alto nível e valor.
            </p>      
        </div>
    </section>
    <section>
        <app-habilities-cards></app-habilities-cards>
    </section>
    <div class="align-center projects-call">
        <img src="./../../../assets/images/idea.png" alt="Caio mostra uma ideia" width="290px">
    </div>
    <div id="project-title">
        <h1>Projetos realizados</h1>
    </div>
</body>
