<app-header></app-header>
<body>
    <section class="first-section" id="start">
        <div class="introdution">
            <h1>Desenvolvedor Web Full Stack</h1>
            <p>Eu projeto e codifico aplicações de alto nível e valor, buscando sempre transformar sonhos em software!</p>
        </div>
        <div clas="gifs">
            <img class="gif1" src="./../../../assets/images/psico2.gif" alt="Gif programando">
            <img class="gif2" src="./../../../assets/images/computer-reduced.gif" alt="">
        </div>
    </section>
</body>
