body {
    background-color: #1e272e;
    margin-top: 80px;
    height: 100vh;
}

.first-section {
    padding-top: 80px;
    display: flex;
}
.first-section h1 {
    color: #fff;
    font-weight: 800;
    font-size: 2.5em;
}
.first-section p {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin-top: 15px;
}
.introdution {
    padding: 20px 10px 20px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 50vw;
    margin-right: 80px;
}
.gifs {
    margin-left: 100px;
    max-width: 50vw;
    display: flex;
}
.gif2 {
    position: absolute;
    margin-left: -280px;
    margin-top: 100px;
    max-width: 200px;
    width: 100%;
}
.gif1 {
    max-width: 400px;
    width: 100%;
}



.align-center {
    display: flex;
    justify-content: center;
}

.about-me {
    margin-top: -150px;
    background-color: #4600a2;
    color: white;
    align-content: center;
    position: relative;
}

#img-me {
    margin-top: -100px;
    position: relative;
    z-index: 10;
}

.about-me-inside {
    padding: 100px 200px;
    padding-bottom: 200px;
    text-align: center;
    position: relative;
    z-index: 20;
}

.about-me-inside p{
    font-size: 16px;
    line-height: 1.5;
}

#project-title h1{
    text-align: center;
}
#project-title {
    padding-top: 100px;
    margin-top: -110px;
    background-color: #4600a2;
    color: white;
    align-content: center;
    height: 700px;
}
.projects-call {
    margin-top: -200px;
}
#projects {
    margin-top: -250px;
}

.button-1 {
    margin-right: 10px;
    background-color: #6E07F3!important;
}
.button-2 {
    color: #6E07F3!important;
}
@media screen and (max-width: 992px) {
    .first-section { 
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
    .gifs {
        justify-content: center;
    }
    .introdution {
        max-width: none;
        margin-right: 0;
        padding: 10px;
    }
    .about-me-inside {
        padding: 100px 20px;
        padding-bottom: 200px;
        text-align: center;
    }
    #img-me {
        margin-top: -50px;
    }
    #project-title {
        height: 1700px;
    }
}

@media screen and (max-width: 768px) {
    .first-section h1 {
        font-size: 1.5rem;
    }
    .first-section p {
        font-size: 14px;
        margin-top: 15px;
    }
}