<nav class="navbar navbar-expand-lg" data-bs-theme="dark">
    <div class="flex">
      <div>
        <a class="" routerLink="/home" routerLinkActive="active">
            <img class="logotipo-navbar" src="../../../assets/images/logoicon.png" alt="Logotipo">  
        </a>
      </div>
      
      <div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" (click)="scrollTo('start')" id="color">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollTo('about-me')">Sobre mim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollTo('projects')">Projetos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollTo('skilss')">Habilidades</a>
          </li>
        </ul>
        <a href="https://api.whatsapp.com/send?phone=5511953458714&text=Vim%20atrav%C3%A9s%20do%20seu%20portf%C3%B3lio%2C%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es" target="_blank"><button class="btn-primary2">Contato</button></a>
      </div>
    </div>
    </div>

<button class="navbar-toggler" style="color:#6E07F3;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon" style="color:#6E07F3;"></span>
</button> 
</nav>