<div class="container">
    <div class="box">
      <span></span>
      <div class="content">
        <h2>Saúde</h2>
        <p>Site que conecta clientes a profissionais de saúde. Busca através de mapas e filtros personalizados.</p>
        <a class="button-1" mat-raised-button color="primary">Saiba mais</a>
      </div>
    </div>
    <div class="box">
      <span></span>
      <div class="content">
        <h2>Finanças</h2>
        <p>Site para apresentar a empresa e vender contrato de empréstimo online através de landing pages de cada produto.</p>
        <a class="button-1" mat-raised-button color="primary">Saiba mais</a>
      </div>
    </div>
    <div class="box">
      <span></span>
      <div class="content">
        <h2>Investimentos</h2>
        <p>Software intuitivo e dinâmico para usuários que aplicam a técnica de arbitragem, procedimento responsável por encontrar surebets (apostas sem risco.)</p>
        <a class="button-1" mat-raised-button color="primary">Saiba mais</a>
      </div>
    </div>
  </div>
